<div class="image-container">
    
    <div class="image"><img src="../../../assets/1.png" alt="Image 1"></div>
    <div class="image"><img src="../../../assets/2.png" alt="Image 2"></div>
    <div class="image"><img src="../../../assets/3.png" alt="Image 3"></div>
    <div class="image"><img src="../../../assets/4.png" alt="Image 4"></div>
    <div class="image"><img src="../../../assets/5.png" alt="Image 5"></div>
    <div class="image"><img src="../../../assets/6.png" alt="Image 6"></div>
    <div class="image"><img src="../../../assets/7.png" alt="Image 7"></div>
    <div class="image"><img src="../../../assets/8.png" alt="Image 8"></div>
    <div class="image"><img src="../../../assets/9.png" alt="Image 9"></div>
    <div class="image"><img src="../../../assets/10.png" alt="Image 10"></div>
    <div class="image"><img src="../../../assets/11.png" alt="Image 11"></div>
    <div class="image"><img src="../../../assets/12.png" alt="Image 12"></div>

    <div class="card-container">
        <div class="card">
            <h4>{{ errorMessage}}</h4>

        </div>
    </div>

